<footer class="footer" style="background: hsl(0, 0%, 21%); color: white;">
  <div class="content has-text-centered ">
    <p>
      <strong style="color: white;">Ruby on Rails NHL Project</strong> by Josh Lavallee.
    </p>
  </div>
</footer>