<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Ruby on Rails NHL Project</strong> by <a href="https://yoshigrams.com">Josh Lavallee</a>.
    </p>
  </div>
</footer>
